# Python bytecode
utils/__pycache__/

# ONNX environment
onnx_env/

#source folder
source/

# Temporary files
*.tmp
*.log
*.swp

# macOS files
.DS_Store

# Windows files
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Shell scripts
run.sh

#README
README

# Python package requirements
requirements.txt